/frontend/.idea
/frontend/node_modules

/frontend/tmp
/frontend/out-tsc

/frontend/node_modules
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnp
/frontend/.pnp.js

.vscode/*

backend/.idea
backend/.venv

.env